* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    background-color: lightsalmon;
}

h1 {
    font-size: 3rem;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 50px;

    top: 0;
    left: 0;
    position: fixed;

    background-color: teal;
    color: white;
}

nav a {
    padding: 0 30px;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    color: lightsalmon;
}

#title {
    text-align: center;
    padding: 20px 50px;
    margin: 70px 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#intro h2, #intro p {
    padding: 0 40px;
}

.imgcontainer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
}

#intro img, #phrase img {
    width: 500px;
    border-radius: 20px;
    margin: 30px 50px;
}

#phrase {
    background-color: teal;
    color: white;
}

#phrase h3 {
    font-size: 2rem;
    padding: 40px 40px 0 40px;
}

#phrase p {
    font-size: 1.125rem;
    opacity: 0.8;
    padding: 0 40px 0 40px;
}

#final {
    margin: 40px 0 40px 40px;
    display: flex;
}

#final img {
    width: 500px;
    border-radius: 20px;
}

#final div {
    display: flex;
    flex-direction: column;

    width: 100%;
    align-items: center;
    justify-content: center;
}

#final div h2 {
    font-size: 3rem;
}

#final div p {
    font-size: 1.35rem;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8rem;
}

footer p {
    padding: 0 20px;
    margin: 3px 0;
}

footer a {
    color: black;
    cursor: pointer;
}

footer a:active {
    color: teal;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #111;
        color: white;
    }

    #title {
        color: lightsalmon;
        background-color: rgba(50, 50, 50, 0.3);
    }

    nav, #phrase {
        background-color: #004d4d;
    }

    footer, footer a {
        color: rgb(200, 200, 200);
    }

    footer a:active {
        color: #004d4d;
    }
}

@media only screen and (max-width: 1100px) {
    #final {
        flex-direction: column;
        margin: 40px 0;
    }

    #final img {
        align-self: center;
    }

    #final div h2 {
        margin: 30px 0 10px 0;
    }

    #final div p {
        margin: 0;
    }
}

@media only screen and (max-width: 600px) {
    #intro img, #phrase img, #final img {
        width: 90%;
    }

    #final div h2 {
        margin-left: 5%;
    }
    
    #final div p {
        margin: 0 0 0 5%;
    }
}

@media only screen and (max-width: 500px) {
    nav {
        display: none;
    }
}